<div class="container-fluid container-home">
    <div class="home-container">
        <div>
            <h1 class="text-light">
                Fast and secure payments
            </h1>
            <p class="text-light">Welcome to our platform, where **Fast and Secure Payments** are our top priority. We
                understand the importance of your time and the value of your money. Our state-of-the-art technology
                ensures quick transactions while maintaining the highest level of security. With us, you can send and
                receive payments with just a few clicks, anytime, anywhere. Experience the ease of online payments like
                never before. Join us today and step into the future of digital payments.
            </p>
            <app-btn-iniciar btn-text="Iniciar" routerLink="cadastrar"></app-btn-iniciar>
        </div>

    </div>
</div>