.btn-primary {
    background-color: #12d5f4; 
    color: white;
  }
  
  .btn-primary:hover {
    background-color: #097bf4;
  }
  
  .btn-secondary {
    background-color: #dc3545; 
    color: white;
  }
  
  .btn-secondary:hover {
    background-color: #b02a37; 
    color: white;
  }

  .btn-success {
    background-color: #45f686; 
    color: white;
  }
  
  .btn-success:hover {
    background-color: #08d152; 
    color: white;
  }
  